*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body{
    display: flex;

    align-items: center;

    justify-content: center;

    min-height: 100vh;
}

.popup{
    width: 350px;
}

.popup :where(.picker, header)
{
    display: flex;
}

.popup .picker{
    padding: 30px;

    display: flex;

    justify-content: center;

    background: #e3f2fd;
}

.picker #color-picker{

    outline: none;

    border: none;

    color: #fff;

    font-size: 1rem;

    cursor: pointer;

    border-radius: 5px;

    padding: 10px 20px;

    background: #5372f0;
}

.picked-colors{
    margin: 10px 15px;
}